<h1>Teamfight Tactics Item Helper</h1>
<mat-button-toggle mat-button mat-raised-button class="filter-button" #filter [checked]=false>
  Filter Items with zero selected components
</mat-button-toggle>
<mat-divider></mat-divider>
<h2>Base Items</h2>
<div class="info-text">
  Click the icon to toggle which items you have available
</div>

<div class="base-items-container">
  <mat-button-toggle-group class="base-items" #selectedItems multiple (change)="baseItemChange($event)">
    <mat-button-toggle *ngFor="let item of baseItems" value="{{item.id}}" aria-label="{{item.name}}">
        <img [src]="item.iconPath">
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
<mat-divider></mat-divider>
<h2>Combined Items</h2>

<ng-container *ngFor="let tier of tiers; let i = index">
  <h3>Tier {{i+1}}</h3>
  <div class="completed-items">
    <ng-container *ngFor="let item of tier">
      <div class="completed-item" *ngIf="!filter.checked || hasAtLeastOneComponent(item)">
        <div class="completed-item-display">
          <div class="icon">
            <img [src]="item.iconPath">
          </div>
          <div class="name">
            {{item.name}}
          </div>
        </div>
        <div class="spacer"></div>
        <div [ngClass]="{'icon': true, 'selected': itemSelected(item.in1), 'not-selected': !itemSelected(item.in1)}">
          <img [src]="item.in1.iconPath">
        </div>
        <div class="plus">
          +
        </div>
        <div [ngClass]="{'icon': true, 'selected': itemSelected(item.in2), 'not-selected': !itemSelected(item.in2)}">
          <img [src]="item.in2.iconPath">
        </div>
        <div class="spacer"></div>
        <div class="description">
          {{item.description}}
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>

